@using SavageOrcs.Web.ViewModels.Curator
@using Microsoft.Extensions.Localization
@using SavageOrcs.Web.Resources.Classes
@inject LanguageService Language
@model CuratorViewModel[]
<div class="wrapper-search-curator">
    <div class="curator-data-col">
        <div class="curator-header-text">
            @Language.GetCuratorKey("SearchHeader")
        </div>
        <div class="curator-data-row-container">
            @await Html.PartialAsync("_CatalogueDataRows", Model)
        </div>
    </div>
    <div class="curator-search-col">
        <div class="curator-filter-search-text">
            @Language.GetCuratorKey("SearchDescription")
        </div>
        <div class="curator-filter-row">
            <div class="curator-filter-item">
                <div class="curator-filter-multiselect-placeholder">
                    <select name="curatorsMultiselect" id="curatorsMultiselect" multiple multiselect-search="true" multiselect-select-all="true" multiselect-hide-x="true">
                        @foreach (var curator in Model)
                        {
                            <option value=@curator.Id>@curator.DisplayName</option>
                        }
                    </select>
                </div>
                @*<div class="curator-filter-big-text-info">Автор</div>
                <div class="curator-filter-small-text-info">
                    Почніть вводити ім'я автора
                </div>*@
            </div>
        </div>
    </div>
</div>

<div class="wrapper-search-bottom-text">
    <div class="bottom-text-row">
        <div class="bottom-text-col">
            @Language.GetCuratorKey("SearchAreYouHaveMaterials")
        </div>
        <div class="bottom-text-col">@Language.GetMainKey("MainContactUs")</div>
    </div>
    <div class="bottom-text-row">
        <div class="bottom-text-col"></div>
        <div class="bottom-text-col">
            <a style="color: #FF2929" href="mailto:info@mizhvukhamy.com?subject=Application%20for%20joining%20the%20team">
                info@mizhvukhamy.com
            </a>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var catalogueCuratorView = new CatalogueCuratorView();

        catalogueCuratorView.SelectedText = @Json.Serialize(Language.GetMainKey("MultiselectSelectedText"));
        catalogueCuratorView.MultiselectAll = @Json.Serialize(Language.GetMainKey("MultiselectAll"));

        catalogueCuratorView.CuratorTextPlaceholder = @Json.Serialize(Language.GetTextKey("MultiselectCuratorTextPlaceholder"));
        catalogueCuratorView.SearchTextCurator = @Json.Serialize(Language.GetTextKey("MultiselectSearchTextCurator"));

        $(document).ready(function () {
            catalogueCuratorView.InitializeControls();
        });

    </script>
}