@using SavageOrcs.Web.ViewModels.Curator
@model RevisionCuratorViewModel



<link itemprop="url" rel="stylesheet" href="~/css/curator/curatorRevision.css" asp-append-version="true" />
<div class="row">
    @if (this.User.IsInRole("Global admin"))
    {
        <div class="row mt-1 mb-1 display-8-custom  pt-3">
            <div class="col-md-auto pr-2">
                <a class="btn btn-dark-custom" href="/Curator/Edit?id=@Model.Id">Редагувати</a>
            </div>
        </div>
        <hr style="border-top: 3px solid #3c6624">
    }
    <div class="col-md-6">
        @Html.HiddenFor(m => m.Id)
        <div class="row mb-4">
            <div class="col-md-12 text-white-custom display-6">
                @Model.DisplayName
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 text-white-custom display-8-custom">
                @Model.Description
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 text-white-custom display-8-custom">
                <img class="image-revision-curator-custom" src="@Model.Image" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 text-white-custom" id="revisionCuratorTable">
                <div class="d-flex display-7-custom table-header-curator-texts justify-content-center pb-2">
                    <div class="table-header-curator-texts-number">
                        №
                    </div>
                    <div class="table-header-curator-texts-name">
                        Назва
                    </div>
                    <div class="table-header-curator-texts-subject">
                        Тема
                    </div>
                </div>
                <div class="table-body-curator-texts display-8-custom">
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script>
        var revisionCuratorView = new RevisionCuratorView();

        revisionCuratorView.Texts = @Json.Serialize(Model.Texts);

        $(document).ready(function () {
            revisionCuratorView.InitializeControls();
        });

    </script>
}