@using SavageOrcs.Web.ViewModels.Cluster
@model FilterCatalogueClusterViewModel


<link itemprop="url" rel="stylesheet" href="~/css/cluster/clusterCatalogue.css" asp-append-version="true" />

<div class="row">
    <div class="col-md-2 display-none-custom">
        @Html.TextBoxFor(m => m.KeyWord, new { @class = "text-box-custom form-control display-8-custom", @placeholder = "Ключове слово"})
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.AreaName, new { @class = "text-box-custom form-control display-8-custom", @placeholder = "Назва міста"})
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.ClusterName, new { @class = "text-box-custom form-control display-8-custom", @placeholder = "Назва скупчення"})
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(m => m.ClusterDescription, new { @class = "text-box-custom form-control display-8-custom", @placeholder = "Опис скупчення"})
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.MinCountOfMarks, new { @class = "text-box-custom form-control display-8-custom", @type = "number",  @placeholder = "Мінімальна кількість міток"})
    </div>
    <div class="col-md-3">
        <div class="row justify-content-end">
            <div class="col-md-auto">
                <button class="btn btn-dark-custom display-8-custom" id="search">Пошук</button>
            </div>
            <div class="col-md-auto">
                <button class="btn btn-dark-custom display-8-custom" id="clearFilters">Х</button>
            </div>
        </div>
    </div>

</div>

<div class="row pt-3">
    <div class="col-md-12 text-white-custom" id="catalogueClusterTable">
        <div class="d-flex text-white-custom display-7-custom table-header-catalogue-cluster justify-content-center pb-2">
            <div class="table-header-catalogue-cluster-number">
                №
            </div>
            <div class="table-header-catalogue-cluster-name">
                Назва
            </div>
            <div class="table-header-catalogue-cluster-description">
                Опис
            </div>
            <div class="table-header-catalogue-cluster-markCount">
                Мітки
            </div>
            <div class="table-header-catalogue-cluster-area">
                Місце
            </div>
        </div>
        <div class="table-body-catalogue-cluster display-8-custom text-white-custom">
            
        </div>
    </div>
</div>



@section Scripts{
    <script>
        var catalogueClusterView = new CatalogueClusterView();

        $(document).ready(function () {
            catalogueClusterView.InitializeControls();
        });

    </script>
}