@using SavageOrcs.Web.ViewModels.Cluster
@model RevisionClusterViewModel

<link itemprop="url" rel="stylesheet" href="~/css/cluster/clusterRevision.css" asp-append-version="true" />
<div class="row">
    @if (this.User.IsInRole("Admin"))
    {
        <div class="row mt-1 mb-1 display-8-custom  pt-3">
            <div class="col-md-auto pr-2">
                <a class="btn btn-dark-custom" href="/Cluster/Add?id=@Model.Id">Редагувати</a>
            </div>
            <div class="col-md-auto pr-2">
                <a class="btn btn-dark-custom" href="/Cluster/Delete?id=@Model.Id">Видалити</a>
            </div>
            <div class="col-md-auto pr-2">
                <a class="btn btn-dark-custom" href="/Cluster/Add">Додати ще одну</a>
            </div>
        </div>
        <hr style="border-top: 3px solid #3c6624">
    }
    <div class="col-md-4">
        @Html.HiddenFor(m => m.Id)
        <div class="row mb-4">
            <div class="col-md-12 text-white-custom display-6">
                @Model.Name
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 text-white-custom display-8-custom">
                @Model.Description
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 text-white-custom display-8-custom">
                @Model.AreaName
            </div>
        </div>
        <div id="mapClusterRevision">
        </div>
    </div>
    <div class="col-md-8">
        <div class="row justify-content-end align-items-center">
            <div class="col-md-auto pr-1">
                <img class="flag-select-custom" id="flagUA" class="box-shadow-grey-custom" src="~/images/flags/UA.png" />
            </div>
            <div class="col-md-auto pr-1">
                <img class="flag-select-custom" id="flagGB" src="~/images/flags/GB.png" />
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-md-12 text-white-custom" id="revisionClusterTable">
                <div class="d-flex display-7-custom table-header-revision-cluster-marks justify-content-center pb-2">
                    <div class="table-header-revision-cluster-marks-number">
                        №
                    </div>
                    <div class="table-header-revision-cluster-marks-name">
                        Назва
                    </div>
                    <div class="table-header-revision-cluster-marks-description">
                        Опис
                    </div>
                    <div class="table-header-revision-cluster-marks-photo">
                        Фото
                    </div>
                </div>
                <div class="table-body-revision-cluster-marks display-8-custom">
                </div>
            </div>
        </div>
    </div>
</div>

    

@section Scripts{
    <script>
        var revisionClusterView = new RevisionClusterView();
        revisionClusterView.Lat = '@Html.Raw(Model.Lat)';
        revisionClusterView.Lng = '@Html.Raw(Model.Lng)';
        revisionClusterView.Marks = JSON.parse('@Html.Raw(Json.Serialize(Model.Marks))');

        $(document).ready(function () {
            revisionClusterView.InitializeControls();
        });
        function initMap() {
            revisionClusterView.InitMap();
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuw7bPRLxL2yVBd9YArtpb47myhmUePGY&callback=initMap"></script>

}

