@using SavageOrcs.Web.ViewModels.Mark
@model MarkCatalogueViewModel[]
@for (int i = 1; i <= Model.Length; i++)
{
    <div class="data-row" onclick="catalogueMarkView.Show(this)" style="opacity: 0.3">
        @Html.HiddenFor(m => m[i-1].Id, new { id =  i.ToString() + Model[i-1].Id.ToString()})
        @Html.HiddenFor(m => m[i-1].IsCluster, new { id =  i.ToString() + Model[i-1].IsCluster.ToString()})
        <div class="col-item">
            <div class="col-content-item">
                <div class="col-number-item">@i.ToString()</div>
                <div class="col-area-item">@Model[i - 1].Area.Name</div>
            </div>
        </div>
        <div class="col-item">
            <div class="col-content-item">
                <div class="col-name-item">@Model[i - 1].Name</div>
            </div>
        </div>
        <div class="col-item">
            <div class="col-content-item">
                <div class="col-author-item">
                    АВТОР НАПЕВНЕ АЛЕ ПОКИ Я ХЗ
                </div>
            </div>
        </div>
    </div>
}