@using SavageOrcs.Web.ViewModels.Mark
@using Microsoft.Extensions.Localization
@using SavageOrcs.Web.Resources.Classes
@inject LanguageService Language
@model UnitedCatalogueViewModel

<style>
    .slideshow-container {
        width: 80%;
        height: 400px;
        position: relative;
    }
</style>

<div class="wrapper-search">
    <div class="photo-col">
        <div class="top-row">@Language.GetMarkKey("SearchHeader")</div>
        <div class="image-placeholder">
            <div class="slideshow-container">
            </div>
        </div>
    </div>
    <div class="table-col">
        <div class="top-row">
            <div class="text-container-small">
                @Language.GetMarkKey("SearchDescription")
            </div>
            <div class="clear-button-container">
                <button id="clear-button">@Language.GetMainKey("ButtonClear")</button>
                <div class="clear-button-img">
                    <img src="~/images/icons/clear.png" alt="" />
                </div>
            </div>
        </div>
        <div class="mark-table">
            <div class="filter-row">
                <div class="filter-item-small"></div>
                <div class="filter-item">
                    <div class="filter-multiselect-placeholder">
                        <select name="namesMultiselect" id="namesMultiselect" multiple multiselect-search="true" multiselect-select-all="true" multiselect-hide-x="true">
                            @foreach (var area in Model.KeyWords)
                            {
                                <option value=@("K" + area.Id.ToString())>@area.Name</option>
                            }
                            @foreach (var area in Model.MarkNames)
                            {
                                <option value=@("M" + area.Id.ToString())>@area.Name</option>
                            }
                            @foreach (var area in Model.ClusterNames)
                            {
                                <option value=@("C" + area.Id.ToString())>@area.Name</option>
                            }
                        </select>
                    </div>
                    
                </div>
                <div class="filter-item">
                    <div class="filter-multiselect-placeholder">
                        <select name="areasMultiselect" id="areasMultiselect" multiple multiselect-search="true" multiselect-select-all="true" multiselect-hide-x="true">
                            @foreach (var area in Model.Areas)
                            {
                                <option value=@area.Id>@area.Name</option>
                            }
                        </select>
                    </div>
                    
                </div>
                <div class="filter-item-search">
                    <div class="filter-small-text-info">
                        @*@Language.GetMainKey("ButtonSearchDescription")*@
                    </div>
                    <div id="filter-big-text-info">@Language.GetMainKey("ButtonSearch")</div>
                </div>
                @*<div class="filter-item">
                    <div class="filter-multiselect-placeholder">
                        <select name="placesMultiselect" id="placesMultiselect" multiple multiselect-search="true" multiselect-select-all="true" multiselect-hide-x="true">
                            @foreach (var keyWordAndMark in Model.Places)
                            {
                                <option value=@keyWordAndMark.Id>@keyWordAndMark.Name</option>
                            }
                        </select>
                    </div>
                </div>*@
            </div>
            <div class="data-row-container">
                @await Html.PartialAsync("_CatalogueDataRows", Model.Marks)
            </div>
        </div>
    </div>
</div>
<div class="wrapper-search-bottom-text">
    <div class="bottom-text-row">
        <div class="bottom-text-col">
            @Language.GetMarkKey("SearchAreYouHaveMaterials")
        </div>
        <div class="bottom-text-col">@Language.GetMainKey("MainContactUs")</div>
    </div>
    <div class="bottom-text-row">
        <div class="bottom-text-col"></div>
        <div class="bottom-text-col">
            <a style="color: #FF2929" href="mailto:info@mizhvukhamy.com?subject=Application%20for%20joining%20the%20team">
                info@mizhvukhamy.com
            </a>
        </div>
    </div>
</div>


@section Scripts{


    <script>
        let slideIndex = 1;
        if ($(".mySlides").length) {
            showSlides(slideIndex);
        }

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex - 1].style.display = "block";
        }
        var catalogueMarkView = new CatalogueMarkView();
        catalogueMarkView.SelectedText = @Json.Serialize(Language.GetMainKey("MultiselectSelectedText"));
        catalogueMarkView.AreaTextPlaceholder = @Json.Serialize(Language.GetMarkKey("MultiselectAreaTextPlaceholder"));
        catalogueMarkView.MultiselectAll = @Json.Serialize(Language.GetMainKey("MultiselectAll"));
        catalogueMarkView.SearchTextName = @Json.Serialize(Language.GetMarkKey("MultiselectSearchTextName"));
        catalogueMarkView.SearchTextArea = @Json.Serialize(Language.GetMarkKey("MultiselectSearchTextArea"));
        catalogueMarkView.NameTextPlaceholder = @Json.Serialize(Language.GetMarkKey("MultiselectNameTextPlaceholder"));
        $(document).ready(function () {
            catalogueMarkView.InitializeControls();
            $(".data-row-container").css("overflow-x", "hidden");
        });

    </script>
}
